.routeLink {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: white !important;
    display: block !important;
}

.logoutLink {
    margin-left: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    color: white !important;
    display: block !important;
}

.appName {
    text-decoration: none !important;
    color: white !important;
    letter-spacing: .3rem;
}
