.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    background-color: white;
    min-height: calc(100vh - 64px); /* 69px is header */
    opacity: 0.9;
}

.leaflet-container {
    width: 100%;
    height: calc(100vh - 145px)
}

.leaflet-popup-content p {
    margin: 0 !important;

}

.leaflet-popup-content {
    width: 200px !important;
}